#introBg {
	position: relative;
	min-height: 100vh;
	width: 100%;
	background-repeat: no-repeat;
}

#conferenceWrapper {
	background-color: grey;
}

#committeeWrapper {
	overflow: hidden;
}

#aboutWrapper {
	/*background-color: green;*/
}

/* Slides */
.slide {
	position: absolute;
	top: 0;
	left: 0;
}

.slide.wrapper {
	background-color: white;
}

.slide-content {
	position: relative;
	height: 100%;
	min-width: 100%;
	top: 0;
}

.bgWrapper {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
}

.contentWrapper {
	position: absolute;
	top: 0px;
	height: 100%;
	width: 100%;
}

.slide-hidden {
  position: absolute;
  top: 100vh;
}

.slide-hidden > .wrapper {
  position: absolute;
}

.slide-topbar {
	position: absolute;
	top: 0px;
	bottom: 0;
	height: 10%;
	width: 100%;

	margin-top: 2px;
}

.slide-title-bar {
	position: relative;
	top: 0;
	right: 0;
	height: 100%;
	width: 75%;
	background: rgba(0,0,0,0.55);
}

.slide-title-bar > h1 {
	position: relative;
	margin: auto;
	left: 20px;
	height: 100%;
	color: white;
	text-transform: uppercase;

	font-size: 7vmin;
	line-height: 1.25em;
}

.slide-button {
	position: absolute;
	top: 0;
	left: 75%;
	height: 100%;
	width: 25%;
	margin-left: 3px;
	background: rgba(0,168,150,0.55);
}

.slide-button > button {
	position: relative;
	height: 100%;
	width: 100%;
	top: 0;
	border-width: 0px;
	padding: 0;

	background-color: transparent;

}

.slide-title-bar > h1 > span {
	font-size: 0.75em;
}

#introWrapper 
	.slide-button-left {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 50%;
		background: rgba(208,208,208,0.2);
	}
	.slide-button-right {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 50%;
		left: 50%;

		margin-left: 2px;
		background: rgba(208,208,208,0.2);
	}

.slideBg {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	/*filter: blur(3px);
	-webkit-filter: blur(3px);*/
}

video.slideBg {
	position: absolute;
	top: 0;
	left: 0;
	min-height: 100%;
	min-width: 100%;
	height: auto;
	width: auto;
	color: white;
	background-color: black;
}

/*.committee-title {
	position: relative;
	top: 15%;
	left: 0;
	height: 60%;
	width: 100%;

	background-color: rgba(0,0,0,0.55);
}

.committee-title > h1 {
	color: white;
	font-size: 8em;
	text-align: center;
	vertical-align: middle;
}*/



/*.committee-content {
	position: relative;
	top: 2%;
	bottom: 0;
	left: 55%;
	height: 60%;
	width: 45%;
	background-color: rgba(0,0,0,0.55);
}*/

/* Committee Styles */
.row.conferenceRow {
	position: relative;
	top: 50%;
	left: 0;
	width: 100%;
	transform: translate(0, -50%);
}

.row .conferenceContent {
	position: relative;
	width: 20%;
	padding: -1px;
	color: white;
	text-align: center;
	text-transform: uppercase;
	background-color: transparent;
	border-style: solid;
	border-color: white;
	border-width: 2.5px;

	cursor: pointer;
}

.row .conferenceContent h2 {
	margin-bottom: 20px;
	font-size: 1.6em;
}

#conferenceRow1 {
	position: relative;
	margin-top: 7.5%;
	
}

#conferenceRow2 {
	position: relative;
	margin-top: 10%;
}

#conferenceRow3 {
	position: relative;
	margin-top: 10%;
}

#who {
	/*background-color: rgba(0,168,150,0.75);*/
	left: 40%;
	top: 0;
}

#what {
	/*background-color: rgba(5,102,141,0.75);*/
	position: absolute;
	top: 0;
	right: 15%;
	
}

#where {
	/*background-color: rgba(5,102,141,0.75);*/
	left: 15%;	
}

#when {
	/*background-color: rgba(2,128,144,0.75);*/
	position: absolute;
	top: 0;
	right: 15%;
}

#how {
	left: 25%;
	width: 50%;
	font-size: 1.4em;
	/*background-color: rgba(2,195,154,0.75);*/
}

.conferenceDetails {
	visibility: hidden;
	position: absolute;
	top: 33%;
	left: 33%;
	height: 33%;
	width: 33%;

	padding: 8% 8% 8% 8%;

	color: black;
	text-align: left;
	text-transform: none;

	background-color: transparent;

	cursor: default;
	
}

@media (min-width: 1000px) {
	.conferenceDetails {
		padding: 4% 4% 4% 4%;
	}
}

.conferenceDetails.divOpen {
	visibility: visible;
	height: 80vh;
	background-color: white;
	z-index: 100;
}

.conferenceDetails i.close {
	position: absolute;
	top: 2vw;
	right: 2vw;
	opacity: 0;
	font-size: 25px;
	cursor: pointer;
	z-index: 101;
}

.conferenceDetails h3, #how.conferenceDetails h3 {
	opacity: 0;
	font-size: 2em;
}

.conferenceDetails p, #how.conferenceDetails p {
	opacity: 0;
	font-size: 1.4em;
}

.conferenceDetails iframe {
	position: relative;
	top: 10px;
	height: 80%;
	width: 100%;
	left: 50%;
	transform: translate(-50%,0);
}

.popupWrapper {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	opacity: 0;
	background-color: rgba(0,0,0,0.25);
}

/* Committee Styles */

.row.committeeRow {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.row .committeeContent {
	position: relative;
	width: 100%;
	padding: 10px 30px 10px 30px;
	color: white;
	text-align: center;
	text-transform: uppercase;
	background-color: transparent;
	border-style: solid;
	border-color: white;
	border-width: 3.5px;

	cursor: pointer;
}

.row .committeeContent h2 {
	margin-bottom: 20px;
	font-size: 3.5em;
}

/* Committee6 (Zombie) Styles */

#committee4 .video-filter {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(255,0,0,0.25);
}

#committee4 .contentWrapper .slide-title {
	position: absolute;
	bottom: 0;
	right: 0;
	max-width: 765px;
	width: 80%;	
	cursor: pointer;
/*	filter: drop-shadow(01px 1px 5px rgba(255,255,255,0);
	-webkit-filter: drop-shadow(1px 1px 5px rgba(255,255,255,0));*/
}