/* Custom page header */

.header {
	position: absolute;
	opacity: 0;
	top: 0;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 0;
}

.header > .row {
	position: relative;
	top: 46%;
}

.navHeader {
	text-align: center;
}

.navHeader > button {
	height: 100%;
	width: 80%;
	right: 10%;
	left: 10%;
	
	font-family: 'aleo-light';
	letter-spacing: .15vw;
	font-size: 16px;
	line-height: 1.0vw;

	color: #DDD;
	background-color: transparent;
	border: none;
}

.navHeader > button:hover {
	color: white;
}
.navHeader > button:focus {
	color: white;
}
