/* Intro */

#intro {
	position: absolute;
	background-color: rgba(255,255,255,0.15);
}

#navbar, #introButtons {
	opacity: 0;
}

#Dark_Logo_bg {
	position: absolute;
	top: 10%;
	/*left: 1.5%;*/
	height: 100vh;
	width: 100%;
}

#Dark_Logo {
	position: relative;
	top: 0;
	height: 100%;
	width: 100%;

	text-align: center;

	/*background-color: rgba(255,255,255,0.15);*/

	filter: drop-shadow(1px 1px 0px rgba(0,0,0,0.25));
	z-index: 100;
}

/* Animations for the Intro Scene */
.draw {
	fill-opacity: 0;
	stroke: #028090;
	stroke-width: 0.4;
	stroke-dasharray: 100px;
	stroke-dashoffset: 100px;
	animation-name: draw;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1; 
	animation-timing-function: linear;

	-moz-animation-name: draw;
	-moz-animation-duration: 3s;
	-moz-animation-fill-mode: forwards;
	-moz-animation-iteration-count: 1; 
	-moz-animation-timing-function: linear;

	-webkit-animation-name: draw;
	-webkit-animation-duration: 3s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-iteration-count: 1; 
	-webkit-animation-timing-function: linear;
}

#Dark_Logo_Ivey_Text {
	opacity: 0;
	animation-name: fillText;
	animation-delay: 2s;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1; 
	animation-timing-function: linear;

	-moz-animation-name: fillText;
	-moz-animation-delay: 2s;
	-moz-animation-duration: 3s;
	-moz-animation-fill-mode: forwards;
	-moz-animation-iteration-count: 1; 
	-moz-animation-timing-function: linear;

	-webkit-animation-name: fillText;
	-webkit-animation-delay: 2s;
	-webkit-animation-duration: 3s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-iteration-count: 1; 
	-webkit-animation-timing-function: linear;
}

@keyframes draw {
	to {
		stroke-dashoffset: 0;
		stroke-opacity: 0;
		fill-opacity: 1;
	}
}
@keyframes fillText {
	to {
		stroke-dashoffset: 0;
		stroke-opacity: 0;
		opacity: 0.75;
	}
}