/* Sizing for Scoll Magic to determine the viewport size */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

/* Hide the scrollabr */
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

/* Parallax Styles */

.parallax-wrapper {
	position: realtive;
	top: 0;
}

.parallax {
	position: absolute;
	height: 100vh;
	width: 100%;
	left: 0;
}

.parallax-foreground {
	z-index: 3;
}

.parallax-middleground {
	z-index: 0;
}

.parallax-background {
	z-index: -3;
}

.parallax-text {
	position: relative;
	text-align: center;
	top: 50%;
	margin: auto;
	padding-top: 2%;
	padding-bottom: 2%;

	background-color: rgba(100,100,100,0.2);
}

/* Scene Styles */
#scene1 .parallax-background {
	background-image: url("../images/example_parallax_bg1.png");
	background-color: red;
}

.parallax > div, .parallax > div, .parallax > div {
	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}
