<div id="introWrapper" class="wrapper">
	<img id="introBg" src="images/3.png"></img>
	<div id="intro" class="slide-content"></div>
	<div id="introButtons" class="slide-topbar">
	</div>
</div>
<div class="slide-hidden">
	<div id="slideWrapper0" class="slide wrapper">
		<div class="slide-content">
			<div class="bgWrapper"></div>
			<div class="contentWrapper">
				<div class="row conferenceRow">
					<div id="conferenceRow1" class="row">
						<div id="who" class="conferenceContent">
							<h2>who</h2>
						</div>
						<div id="what" class="conferenceContent">
							<h2>what</h2>
						</div>
					</div>
					<div id="conferenceRow2" class="row">
						<div id="how" class="conferenceContent">
							<h2>
								<i class="fa fa-angle-right"></i> 
								sign me up! 
								<i class="fa fa-angle-left"></i>
							</h2>
						</div>
					</div>
					<div id="conferenceRow3" class="row">
						<div id="where" class="conferenceContent">
							<h2>where</h2>
						</div>
						<div id="when" class="conferenceContent">
							<h2>when</h2>
						</div>
					</div>
				</div>
				<div>
				<div class="popupWrapper"></div>
					<div id="who" class="conferenceDetails">
						<i class="fa fa-times close"></i>
						<h3>About</h3>
						<p>
							Ivey’s Model United Nations team will be holding our first annual conference on March 12, 2016.
						</p>
						<h3>Who Can Attend?</h3>
						<p>
							IVEYMUN will be open to both Western and non-Western students. No experience is necessary. 
						</p>
					</div>
					<div id="what" class="conferenceDetails">
						<i class="fa fa-times close"></i>
						<h3>Lorem Ipsum Dolar Sit Amet</h3>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vehicula elementum tellus sit amet tincidunt. Nulla sit amet rutrum nisi. Nulla elementum cursus mollis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis eu nunc molestie, aliquet diam sed, euismod eros. Suspendisse nisl elit, faucibus at mauris at, condimentum facilisis metus. Integer lectus quam, egestas fermentum turpis quis, rutrum sodales lorem. Etiam tortor felis, luctus id odio sit amet, cursus ultricies lectus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In luctus fringilla justo eget luctus. Sed at ipsum non ante tristique sollicitudin eu in tellus. Praesent fermentum vestibulum consequat. Duis tempor urna turpis, in ornare nisi sollicitudin nec. Nam arcu nibh, ullamcorper et imperdiet in, interdum non eros. Maecenas sed laoreet ligula. Fusce arcu dolor, bibendum vel porta sed, dictum sed velit.
						</p>
					</div>
					<div id="how" class="conferenceDetails">
						<i class="fa fa-times close"></i>
						<h3>Registration</h3>
						<p>
							The deadline to register and pay the committee fee is March 3rd.<br><br>The committee fee is <b>$20</b>.

							You can register online or in person. To register online, please do so <a href="https://www.tilt.com/tilts/iveymun-conference-tickets" target="_blank">here</a>. <br><br>

							If you prefer to pay in person, we will also be holding a registration table in the basement of the Ivey Building (near the HBAA office) from February 24-March 3 from 1-2 pm each day. 
						</p>
					</div>
					<div id="where" class="conferenceDetails">
						<i class="fa fa-times close"></i>
						<h3>Lorem Ipsum Dolar Sit Amet</h3>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vehicula elementum tellus sit amet tincidunt. Nulla sit amet rutrum nisi. Nulla elementum cursus mollis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis eu nunc molestie, aliquet diam sed, euismod eros. Suspendisse nisl elit, faucibus at mauris at, condimentum facilisis metus. Integer lectus quam, egestas fermentum turpis quis, rutrum sodales lorem. Etiam tortor felis, luctus id odio sit amet, cursus ultricies lectus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In luctus fringilla justo eget luctus. Sed at ipsum non ante tristique sollicitudin eu in tellus. Praesent fermentum vestibulum consequat. Duis tempor urna turpis, in ornare nisi sollicitudin nec. Nam arcu nibh, ullamcorper et imperdiet in, interdum non eros. Maecenas sed laoreet ligula. Fusce arcu dolor, bibendum vel porta sed, dictum sed velit.
						</p>
					</div>
					<div id="when" class="conferenceDetails">
						<i class="fa fa-times close"></i>
						<h3>Lorem Ipsum Dolar Sit Amet</h3>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vehicula elementum tellus sit amet tincidunt. Nulla sit amet rutrum nisi. Nulla elementum cursus mollis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis eu nunc molestie, aliquet diam sed, euismod eros. Suspendisse nisl elit, faucibus at mauris at, condimentum facilisis metus. Integer lectus quam, egestas fermentum turpis quis, rutrum sodales lorem. Etiam tortor felis, luctus id odio sit amet, cursus ultricies lectus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In luctus fringilla justo eget luctus. Sed at ipsum non ante tristique sollicitudin eu in tellus. Praesent fermentum vestibulum consequat. Duis tempor urna turpis, in ornare nisi sollicitudin nec. Nam arcu nibh, ullamcorper et imperdiet in, interdum non eros. Maecenas sed laoreet ligula. Fusce arcu dolor, bibendum vel porta sed, dictum sed velit.
						</p>
					</div>
				</div>
			</div>
			<div class="slide-topbar">
				<div class="slide-title-bar">
					<h1>C<span>onference</span></h1>
				</div>

				<div class="slide-button"></div>
			</div>
		</div>
	</div>

	<div id="slideWrapper1" class="slide wrapper">
		<div id="committee1" class="slide-content">
			<div class="bgWrapper"></div>
			<div class="contentWrapper">
				<div class="row committeeRow">
					<div class="committeeContent">
						<h2>Find out More</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="slide-topbar">
			<div class="slide-title-bar">
				<h1>UNSC</h1>
			</div>
			<div class="slide-button"></div>
		</div>
	</div>

	<div id="slideWrapper2" class="slide wrapper">
		<div id="committee2" class="slide-content">
			<div class="bgWrapper"></div>
			<div class="contentWrapper">
				<div class="row committeeRow">
					<div class="committeeContent">
						<h2>Find out More</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="slide-topbar">
			<div class="slide-title-bar">
				<h1>A<span>ssad's</span> C<span>abinet</span></h1>
			</div>
			<div class="slide-button"></div>
		</div>
	</div>

	<div id="slideWrapper3" class="slide wrapper">
		<div id="committee3" class="slide-content">
			<div class="bgWrapper">
				<video class="slideBg" autoplay height="100vh">
					<source src="images/videos/romans.mp4" type="video/mp4">
						Your browser does not support this video content.
					</video>
				</div>
				<div class="contentWrapper"></div>
			</div>
			<div class="slide-topbar">
				<div class="slide-title-bar">
					<h1>R<span>oman</span></h1>
				</div>
				<div class="slide-button"></div>
			</div>
		</div>

		<div id="slideWrapper4" class="slide wrapper">
			<div id="committee4" class="slide-content">
				<div class="bgWrapper">
					<video class="slideBg" autoplay height="100vh">
						<source src="images/videos/zombies.mp4" type="video/mp4">
							Your browser does not support this video content.
					</video>
					<div class="video-filter"></div>
				</div>
				<div class="contentWrapper">
					<img class="slide-title" src="images/titles/zombiesTitle.png" />
				</div>
			</div>
			<div class="slide-topbar">
			<!-- <div class="slide-title-bar">
					<h1>Z<span>ombies</span></h1>
				</div>
				<div class="slide-button"></div> -->
			</div>
		</div>
	<div id="parallax"></div>
</div>

</div>
<script src="scripts/content.js"></script>