<div id="introWrapper" class="wrapper">
	<img id="introBg" src="images/3.png"></img>
	<div id="intro" class="slide-content"></div>
</div>
<div class="slide-hidden">
	<div id="slideWrapper0" class="slide wrapper">
		<div class="slide-content">
			<div class="bgWrapper"></div>
			<div class="contentWrapper">
				<div class="row conferenceRow">
					<div id="conferenceRow1" class="row">
						<div id="who" class="conferenceContent">
							<h2>Who</h2>
						</div>
						<!-- <div id="what" class="conferenceContent">
							<h2>what</h2>
						</div> -->
					</div>
					<div id="conferenceRow2" class="row">
						<div id="how" class="conferenceContent">
							<h2>
								<i class="fa fa-angle-right"></i> 
								sign me up! 
								<i class="fa fa-angle-left"></i>
							</h2>
						</div>
					</div>
					<div id="conferenceRow3" class="row">
						<div id="where" class="conferenceContent">
							<h2>where</h2>
						</div>
						<div id="when" class="conferenceContent">
							<h2>when</h2>
						</div>
					</div>
				</div>
				<div>
					<div class="popupWrapper"></div>
					<div id="who" class="conferenceDetails">
						<i class="fa fa-times close"></i>
						<h3>Who we are</h3>
						<p>
							The Richard Ivey School of Business is proud to be hosting its first every Model United Nations on March 12th, 2016. 
							Founded in 1923, the Richard Ivey School of Business is Canada’s premier undergraduate program (HBA) and is one of the oldest business programs in the country. Bloomberg Business	week’s 2015 has ranked Ivey’s full time MBA program 1st internationally, and our graduates are world class leaders who “Think Globally, Act Strategically, and Contribute to Societies in Which They Operate”.
						</p>
						<h3>Who Can Attend?</h3>
						<p>
							IVEYMUN will be open to both Western and non-Western students. No experience is necessary. 
						</p>
					</div>
					<div id="what" class="conferenceDetails">
						<i class="fa fa-times close"></i>
						<h3></h3>
						<p></p>
					</div>
					<div id="how" class="conferenceDetails">
						<i class="fa fa-times close"></i>
						<h3>Registration</h3>
						<p>
							From the Chairs of IveyMUN<br><br>

							Hey everyone, <br><br>

							Ivey's Model United Nations team will be holding our first annual conference on March 12th from 9:30 AM until 6:30 PM. IVEYMUN will be open to both Western and non-Western students. No experience is necessary. <br><br>

							The committee fee is $20.  You can register online or in person. <b>To register online please <a href="http://tilt.tc/hHgX" target="_blank">click here</a>.</b>
							If you prefer to pay in person, we will also be holding a registration table in the basement of the Ivey Building (near the HBAA office) from February 22-March 3 from 1-2 pm each day.<br><br>

							The deadline to register and pay the committee fee is March 3. <br><br>

							Once delegates are registered, we will reach out to you through email for your committee selection.<br><br>

							For inquiries, please contact: info@iveymun.com<br><br>

							<h4>We will be hosting the following Committees:</h4>
							<ul>
								<li>Disarmament and International Security (DISEC)</li>
								<li>The Ides of March, 44 B.C. Rome (Crisis)</li>
								<li>Assad's Syrian Cabinet (Crisis)</li>
								<li>The Zombie Apocalypse, 2021 (Advanced Crisis)</li>
							</ul>
						</p>
					</div>
					<div id="where" class="conferenceDetails">
						<i class="fa fa-times close"></i>
						<h3>Richard Ivey School of Business</h3>
						<h4>Western University</h4>
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2917.763344570959!2d-81.27814606800807!3d43.00431751981354!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882eee230ea2d0f5%3A0x25242c32d93df083!2sRichard+Ivey+Bldg%2C+1255+Western+Rd%2C+London%2C+ON+N6G+0N1!5e0!3m2!1sen!2sca!4v1456367316349" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>
					<div id="when" class="conferenceDetails">
						<i class="fa fa-times close"></i>
						<h3>When</h3>
						<p>
							Deadline to register: March 3, 2016<br>
						</p>
						<div class="clock">
							<div id="days" class="col-xs-2 col-xs-offset-1"></div>
							<div class="col-xs-1 colon">:</div>
							<div id="hours" class="col-xs-2"></div>
							<div class="col-xs-1 colon">:</div>
							<div id="minutes" class="col-xs-2"></div>
							<div class="col-xs-1 colon">:</div>
							<div id="seconds" class="col-xs-2"></div>
							<div class="col-xs-2 col-xs-offset-1 countdownLabels" style="margin-left: 5%">Days</div>
							<div class="col-xs-2 col-xs-offset-1 countdownLabels">Hours</div>
							<div class="col-xs-2 col-xs-offset-1 countdownLabels">Minutes</div>
							<div class="col-xs-2 col-xs-offset-1 countdownLabels">Seconds</div>
						</div>
						<h4>Conference Starts: March 12, 2016, 9:00 am</h4>
					</div>
				</div>
			</div>
			<div class="slide-topbar">
				<div class="slide-title-bar">
					<h1>C<span>onference</span></h1>
				</div>
				<div class="slide-button"></div>
			</div>
		</div>
	</div>

	<div id="slideWrapper1" class="slide wrapper">
		<div id="committee1" class="slide-content">
			<div class="bgWrapper"></div>
			<div class="contentWrapper">
				<div class="row committeeRow">
					<div class="committeeContent">
						<h2>Find out More</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="slide-topbar">
			<div class="slide-title-bar">
				<h1>DISEC</h1>
			</div>
			<div class="slide-button"></div>
		</div>
	</div>

	<div id="slideWrapper2" class="slide wrapper">
		<div id="committee2" class="slide-content">
			<div class="bgWrapper"></div>
			<div class="contentWrapper">
				<div class="row committeeRow">
					<div class="committeeContent">
						<h2>Find out More</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="slide-topbar">
			<div class="slide-title-bar">
				<h1>A<span>ssad's</span> C<span>abinet</span></h1>
			</div>
			<div class="slide-button"></div>
		</div>
	</div>

	<div id="slideWrapper3" class="slide wrapper">
		<div id="committee3" class="slide-content">
			<div class="bgWrapper">
				<video class="slideBg" autoplay height="100vh">
					<source src="images/videos/romans.mp4" type="video/mp4">
						Your browser does not support this video content.
					</video>
				</div>
				<div class="contentWrapper">
					<div class="row committeeRow">
						<div class="committeeContent">
							<h2>Find out More</h2>
						</div>
					</div>
				</div>
			</div>
			<div class="slide-topbar">
				<div class="slide-title-bar">
					<h1>R<span>oman</span></h1>
				</div>
				<div class="slide-button"></div>
			</div>
		</div>

		<div id="slideWrapper4" class="slide wrapper">
			<div id="committee4" class="slide-content">
				<div class="bgWrapper">
					<video class="slideBg" autoplay height="100vh">
						<source src="images/videos/zombies.mp4" type="video/mp4">
							Your browser does not support this video content.
						</video>
						<div class="video-filter"></div>
					</div>
					<div class="contentWrapper">
						<img class="slide-title" src="images/titles/zombiesTitle.png" />
					</div>
				</div>
				<div class="slide-topbar">
			<!-- <div class="slide-title-bar">
					<h1>Z<span>ombies</span></h1>
				</div>
				<div class="slide-button"></div> -->
			</div>
		</div>
		<div id="parallax"></div>
	</div>

</div>
<script src="scripts/content.js"></script>