<div id="conferenceWrapper" class="wrapper">
	
</div>
<div id="committeeWrapper" class="wrapper">
	<div id="committee1" class="slide">Committee 1</div>
	<div id="committee2" class="slide">Committee 2</div>
	<div id="committee3" class="slide">Committee 3</div>
	<div id="committee4" class="slide">Committee 4</div>
	<div id="committee5" class="slide">Committee 5</div>
	<div id="committee6" class="slide">Committee 6</div>
	<div id="committee7" class="slide">Committee 7</div>
</div>

<div id="aboutWrapper" class="wrapper">
	
</div>

<div id="simulation">
	
</div>
<script src="scripts/content.js"></script>
<!-- <div class="parallax-wrapper"></div>
<div id="scene1" class="parallax-group">
	<div id="bg1" class="parallax parallax-background greyscale"></div>
	<div id="mg1" class="parallax parallax-middleground greyscale">
		
	</div>
	<div id="fg1" class="parallax parallax-foreground">
		
	</div>	
</div>
<div id="scene2" class="parallax-group">
	<div class="parallax parallax-background"></div>
	<div class="parallax parallax-middleground">
		<h1 class="parallax-text"> Ivey MUN </h1>
	</div>
	<div class="parallax parallax-foreground"></div>	
</div>
<div id="scene3" class="parallax-group">
	<div class="parallax parallax-background"></div>
	<div class="parallax parallax-middleground">
		<h1 class="parallax-text"> Ivey MUN </h1>
	</div>
	<div class="parallax parallax-foreground"></div>	
</div>
<script src="scripts/scrolling.js"></script> -->