<nav class="nav">
	<div class="nav-wrapper">
		<a id="nav-button0" class="nav-button" onclick="changeSlide(-1)">IVEY MUN <i class="fa fa-circle-o"></i></a>
		<a id="nav-button1" class="nav-button" onclick="changeSlide(0)">Conference  <i class="fa fa-circle-o"></i></a>
		<a id="nav-button2" class="nav-button" onclick="changeSlide(1)">Committee 1 <i class="fa fa-circle-o"></i></a>
		<a id="nav-button3" class="nav-button" onclick="changeSlide(2)">Committee 2 <i class="fa fa-circle-o"></i></a>
		<a id="nav-button4" class="nav-button" onclick="changeSlide(3)">Committee 3 <i class="fa fa-circle-o"></i></a>
		<a id="nav-button5" class="nav-button" onclick="changeSlide(4)">Committee 4 <i class="fa fa-circle-o"></i></a>
		<a id="nav-button6" class="nav-button" onclick="changeSlide(5)">Committee 5 <i class="fa fa-circle-o"></i></a>
	</div>
</nav>
<script src="scripts/navbar.js"></script>