<nav class="nav">
	<div class="nav-wrapper">
		<div class="label-wrapper">
			<a id="nav-button0" class="nav-button" onclick="changeSlide(-1)">
				<span class="nav-label">
					IVEY MUN 
				</span>
				<div class="label-bar"></div>
			</a>
			<a id="nav-button1" class="nav-button" onclick="changeSlide(0)">
				<span class="nav-label">
					Conference 
				</span>
				<div class="label-bar"></div>
			</a>
			<a id="nav-button2" class="nav-button" onclick="changeSlide(1)">
				<span class="nav-label">
					DISEC
				</span>
				<div class="label-bar"></div>
			</a>
			<a id="nav-button5" class="nav-button" onclick="changeSlide(2)">
				<span class="nav-label">
					Assad's Syrian Cabinet 
				</span>
				<div class="label-bar"></div>
			</a>
			<a id="nav-button7" class="nav-button" onclick="changeSlide(3)">
				<span class="nav-label">
					The Ides of March, 44 B.C.
				</span>
				<div class="label-bar"></div>
			</a>
			<a id="nav-button6" class="nav-button" onclick="changeSlide(4)">
				<span class="nav-label">
					Zombie Apocalypse, 2021
				</span>
				<div class="label-bar"></div>
			</a>
		</div>
	</div>
</nav>
<script src="scripts/navbar.js"></script>