<nav class="nav">
	<div class="nav-wrapper">
		<a id="nav-button0" class="nav-button" onclick="changeSlide(-1)">
			<img src="images/nav/GA.svg"></img> 
			<span class="nav-label">
				IVEY MUN 
			</span>
		</a>
		<a id="nav-button1" class="nav-button" onclick="changeSlide(0)">
			<img src="images/nav/conference.svg"></img> 
			<span class="nav-label">
				Conference 
			</span>
		</a>
		<a id="nav-button2" class="nav-button" onclick="changeSlide(1)">
			<img src="images/nav/GA.svg"></img> 
			<span class="nav-label">
				UNSC
			</span>
		</a>
		<a id="nav-button3" class="nav-button" onclick="changeSlide(2)">
			<img src="images/nav/WHO.svg"></img> 
			<span class="nav-label">
				WHO
			</span>
		</a>
		<a id="nav-button4" class="nav-button" onclick="changeSlide(3)">
			<img src="images/nav/science.svg"></img> 
			<span class="nav-label">
				ECOSOC 
			</span>
		</a>
		<a id="nav-button5" class="nav-button" onclick="changeSlide(4)">
			<img src="images/nav/assad.svg"></img> 
			<span class="nav-label">
				Assad's Cabinet 
			</span>
		</a>
		<a id="nav-button7" class="nav-button" onclick="changeSlide(5)">
			<img src="images/nav/roman.svg"></img> 
			<span class="nav-label">
				Roman
			</span>
		</a>
		<a id="nav-button6" class="nav-button" onclick="changeSlide(5)">
			<img src="images/nav/zombie.svg"></img> 
			<span class="nav-label">
				Zombies
			</span>
		</a>
	</div>
</nav>
<script src="scripts/navbar.js"></script>