<div class="parallax-nav"></div>
<div class="parallaxWrapper">
	<div id="parallax1" class="section">
		<div class="section-header">
			<h1>Disarmament and International Security</h1>
			<h2>Women and Children in Armed Conflict</h2>
			<h3>Background</h3>
		</div>
		<div class="section-content">
			As of 2015, it is estimated that there are over 230 million children living in countries affected by conflict. Furthermore, approximately 90 per cent of global conflict-related deaths since 1990 have been civilians, and 80 per cent of these have been women and children. Today, in countries such as South Sudan, the Central African Republic, Nigeria and neighboring countries, Iraq, and Syria, where gender inequality is glaring, the brunt of the armed conflict is taken on by women and children.
		</div>
		<div class="DLWrapper"><a class="primerDL" href="primers/DISEC-2016.pdf" download="DISEC - Womand & Children in Armed Conflict">Download the Primer</a></div>
		<div class="section-seperator"></div>
	</div>
	<div id="parallax2" class="section">
		<div class="section-header">
			<h1>Assad's Syrian Cabinet</h1>
			<h3>Premise</h3>
		</div>
		<div class="section-content">
			Since March 2011, the Syrian Arab Republic has been torn apart by a multi-sided civil war. Organized armed conflict between President al-Assad’s forces and anti-government rebel forces has continued for over four and a half years, with neither side making significant progress against the other. The civil war has also drawn in foreign powers, who have fuelled sectarian tensions in their attempts to change the balance of power in the Middle East. Other major concerns for the Syrian government include 1) the rise of the Islamic State and other extreme jihadists among rebels, 2) the waves of refugees that have given way to humanitarian crises in neighbouring countries and in Europe, and 3) the increasingly independent Kurdish people in northeastern Syria. As members of Syria’s Council of Ministers, this committee is responsible for putting together a comprehensive action plan that the Syrian government can use to bring about an effective end to the conflict.
		</div>
		<div class="DLWrapper"><a class="primerDL" href="primers/Assads-Syrian-Cabinet-2016.pdf" download="Assad's Syrian Cabinet">Download the Primer</a></div>
		<div class="section-seperator"></div>
	</div>
	<div id="parallax3" class="section">
		<div class="section-header">
			<h1>The Ides of March, 44 B.C.</h1>
			<h2>Crisis</h2>
			<h3>Premise</h3>
		</div>
		<div class="section-content">
			It is 44 B.C. Julius Caesar has been assassinated, and it is unclear who is truly in control. The conspirators have not received the public support they were expecting, and everyone fears a return to civil war. The powerful legions are waiting for an opportunity to avenge Caesar’s death, and the plebeian masses fear that they will lose the stability that Caesar brought. The most influential men in the republic are gathering in Rome to discuss the situation and make plans. Secretly, they are all seeking to cement their place in the new political system that emerges, at the expense of their enemies. A number of important questions will have to be addressed. Who will govern Rome, and in what way? Will Caesar’s death be avenged? And most importantly, will Rome remain at peace, or descend once again into civil war?
		</div>
		<div class="DLWrapper"><a class="primerDL" href="primers/The-Ides-of-March-44-B.C..pdf" download="The Ides of March">Download the Primer</a></div>
		<div class="section-seperator">
			<!-- <img src="images/lightSeperatorLogo.png"> -->
		</div>
	</div>
	<div id="parallax4" class="section">
		<div class="section-header">
			<img src="images/titles/zombiesTitle.png">
		</div>
		<div class="section-content">
			<h2>Crisis: Zombie Apocalypse, 2021</h2>
			<h3>Premise</h3>
			The zombie apocalypse is an infamous scenario in which a widespread rise of zombies hostile to human life engages in a general assault on civilization. You are a part of the zombie threat committee attempting to combat the zombie hordes of billions preying on your population. Refuge can only be found in a concerted effort from the countries who have survived the zombie onslaught. Originating from China, the virus has spread through and an infected energy drink. The committee is conflicted as to which course of action to take, pursuing a cure, military action or the construction of urban enclaves.
		</div>
		<div class="DLWrapper"><a class="primerDL" href="primers/Zombie-Apocalypse-2021.pdf" download="Zombie Apocalypse - 2021">Download the Primer</a></div>
		<div class="section-seperator"></div>
	</div>
</div>
<script src="scripts/parallax.js"></script>
