<!-- <div class="parallax-wrapper"></div>
<div id="scene1" class="parallax-group">
	<div id="bg1" class="parallax parallax-background greyscale"></div>
	<div id="mg1" class="parallax parallax-middleground greyscale">
		
	</div>
	<div id="fg1" class="parallax parallax-foreground">
		
	</div>	
</div>
<div id="scene2" class="parallax-group">
	<div class="parallax parallax-background"></div>
	<div class="parallax parallax-middleground">
		<h1 class="parallax-text"> Ivey MUN </h1>
	</div>
	<div class="parallax parallax-foreground"></div>	
</div>
<div id="scene3" class="parallax-group">
	<div class="parallax parallax-background"></div>
	<div class="parallax parallax-middleground">
		<h1 class="parallax-text"> Ivey MUN </h1>
	</div>
	<div class="parallax parallax-foreground"></div>	
</div>
<script src="scripts/scrolling.js"></script> -->